.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}


.footer{
    background-color: rgb(116, 230, 106);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(18, 213, 64);
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.row-padder{
    margin: 0px auto;
    padding: 60px 10px 60px 10px;
}
.row-padleft{
    margin: 0px 10px 0px 10px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #06431c
}

.font-large{
    font-size: 25px;
    color:  #06431c;
    
}

.tab-content {
    border-left: 2px solid #06431c;
    border-right: 2px solid #06431c;
    border-bottom: 2px solid #06431c;
    border-top: 2px solid #06431c;
    padding: 10px;
}